[package]
name = "mpb2d-core"
version = "0.1.0"
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true

[dependencies]
num-complex.workspace = true
serde.workspace = true
serde_json.workspace = true
thiserror.workspace = true
faer.workspace = true
